<!doctype html>
<title>{% block title %}{% endblock %} - Randres</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Randres v. 1.1 <img src="{{ url_for('static', filename='scroll.png') }}" width="50" height="50"></h1>
  <ul>
    {% if g.user %}
      <li><span>Logged in as: {{ g.user['username'] }}</span>
      <li><a href="{{ url_for('logout') }}">Log Out</a>
      <li><a href="{{ url_for('create_job') }}">Add a job</a>
      <li><a href="{{ url_for('index') }}">Home</a>
    {% else %}
      <li><a href="{{ url_for('register') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
