{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Application details{% endblock %}</h1>
{% endblock %}

  {% if g.user %}
    <a href="{{ url_for('generate.create', job_id=details['job_id'], firm=details['firm']) }}">Generate a new application</a>
  {% endif %}

{% block content %}

<button class="accordion">Contact Information</button>
  <div class="panel">
    <div>Name: {{ details['contact'][1] }}, {{ details['contact'][0] }}</div>
    <div>Number: {{ details['contact'][2] }}</div>
    <div>Email: {{ details['contact'][3] }}</div>
    <div>Address: {{ details['contact'][4] }}</div>
</div>
  <br />

<button class="accordion">Demographics</button>
  <div class="panel">
    <div>Race: {{ details['demos'][1] }}</div>
    <div>Gender: {{ details['demos'][0] }}</div>
    <div>DOB: {{ details['demos'][2] }}</div>
    <div>SSN: {{ "{}-{}-{}".format(details['social'].zfill(9)[0:3],details['social'].zfill(9)[3:5],details['social'].zfill(9)[5:]) }}</div>  
</div>
  <br />

<button class="accordion">Employment History</button>
  <div class="panel">
  {% for item in details['job_hist'] %} 
      <div>Firm: {{ item[0] }}</div>
      <div>Position: {{ item[1] }}</div>
      <div>Address: {{ item[2] }}</div>
      <div>Supervisor: {{ item[3] }}</div>
      <div>Start date: {{ item[4] }}</div>
      <div>End date: {{ item[5] }}</div>
  <br />
  {% endfor %}
</div>
  <br />

 <button class="accordion">Education History</button>
  <div class="panel">
    <div>School: {{ details['schl'][0] }}</div>
    <div>Adress: {{  details['schl'][1] }}</div>
    <div>Graduation year: {{  details['schl'][2] }}</div>
  <br />
</div>
  <br /> 

<button class="accordion">Availability</button>
  <div class="panel">
    <div>Desired hours: {{ details['avail'][0] }}</div>
    <div>Can work all days? {{ details['avail'][1] }}</div>
    <div>Notice required for current job: {{ details['avail'][2] }}</div>
    <div>Desired start date: {{ details['avail'][3] }}</div>
</div>
  <br />

<form action="{{ url_for('generate.delete', job_id=details['job_id'], firm=details['firm'], id=details['id']) }}" method="post">
<input class="danger" type="submit" name="id" value="Delete" onclick="return confirm('Are you sure?');">
</form>


<br />
<script src={{ url_for('static', filename='buttons.js') }}></script>


{% endblock %}
